body {
    font-family: Arial, sans-serif;
}

.header {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.title-container, .section {
    width: 100%; /* 或者你希望的固定宽度，如 width: 600px; */
    margin: auto; /* 使容器居中 */
}

/* 标题的样式 */
.title-container h2, .section h2 {
    background-color: lightblue; /* 设置你喜欢的背景色 */
    width: 100%; /* 确保背景色填满整个容器宽度 */
    padding: 10px 0; /* 添加一些内填充使得背景色块看起来更好 */
    text-align: center; /* 如果你需要标题居中 */
}

/* 段落的样式 */
.title-container p, .section p {
    /* 这里可以定义段落的样式，但不包含背景色 */
}

.right-image {
    float: right; /* Positions the image to the right of the text */
    margin-left: 20px; /* Adds some space between the text and the image */
    width: 50%; /* Adjust the width as needed */
    height: auto;
}

/* Clear floats after the sections */
.section::after {
    content: "";
    display: table;
    clear: both;
}
